<div class="main-container">
  <div class="mt-3">
    @for (data of cardNewYear; track data) {
      <div class="cards my-3" style="width: 22rem;">
        <img class="card-img-top" [src]="data?.imgUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title pt-2">{{data?.title | uppercase}}</h5>
          <p class="card-text">{{data?.description}}</p>
        </div>
      </div>
    }

    @if (ourSection) {
      <div class="show">
        <h4>Pagol Mon</h4>
        <hr/>
        @for (data of privateImg; track data) {
          <div class="cards my-3" style="width: 22rem;">
            <img class="card-img-top" [src]="data?.imgUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title pt-2">{{data?.title | uppercase}}</h5>
              <p class="card-text">{{data?.description}}</p>
            </div>
          </div>
        }
        <!-- <div class="py-3">
        <button class="btn btn-outline-danger btn-sm w-100" (click)="weShowNext()">{{"Hide Me Dear"}}</button>
      </div>  -->
    </div>
  }
  @if (show) {
    <div>
      @if (error) {
        <span class="error-pin">Please put right pin</span>
      }
      <div class="card show" style="width: 22rem;">
        <form class="pin-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="password" formControlName="pin" class="form-control-sm" placeholder="Enter Pin">
        </div>
        <div>
          <button type="submit" class="new-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
}
@if (!show && !ourSection) {
  <div class="py-3 cards">
    <button class="new-btn w-100" (click)="weShow()">{{"I Love You !"}}</button>
  </div>
}
</div>
</div>
