
    <div class="main-container">
        <div>
        <div class="card my-2" style="width: 18rem;" *ngFor="let data of cardHome">
            <img class="card-img-top" [src]="data?.imgUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{data?.title}}</h5>
                 <p class="card-text">{{data?.description}}</p>
                 <!-- <a href="#" class="btn btn-primary">Go somewhere</a> --> 
            </div>
        </div>   
    </div>
    </div>
        
    
    