
/* app.component.css */

.body-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.body-section{
  width: 22rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.cards {
  flex: 1;
  min-width: 0;
  box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

.cards i {
  font-size: 25px;
  display: block;
  margin-bottom: 8px;
  color: #6457f5;
}

.name {
  font-weight: bold;
    color: #6457f5;
}

