<div class="main-container">
    <div>
        <!-- <div class="card my-2" style="width: 18rem;" *ngFor="let data of cardNewYear">
            <img class="card-img-top" [src]="data?.imgUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{data?.title}}</h5>
                <p class="card-text">{{data?.description}}</p>
            </div>
        </div>     -->
        <!-- <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/foru.mp4"></iframe>
              </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/foru1.mp4"></iframe>
              </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/ulife.mp4"></iframe>
              </div>
        </div> -->
        <div class="main m-2">
        <div class="card">
          <h5 class="card-header">Sarfaroj</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-primary btn-sm w-100">Submit</a>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-primary btn-sm w-100">Update</a>
          </div>
        </div>
      </div>

      <!-- <div class="col">
        <div class="card">
          <video src="../../../assets/Videos/ulife.mp4" class="card-img-top" muted autoplay=1 loop></video>
          <iframe height="640" width="auto" autoplay=1 class="" src="../../../assets/Videos/ulife.mp4"></iframe>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-outline-primary btn-sm w-100">Update</a>
          </div>
        </div>
      </div> -->

    </div>


</div>
