<div class="main-container">
    <div>
        <!-- <div class="card my-2" style="width: 18rem;" *ngFor="let data of cardNewYear">
            <img class="card-img-top" [src]="data?.imgUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{data?.title}}</h5>
                <p class="card-text">{{data?.description}}</p>
            </div>
        </div>     -->
        <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/foru.mp4"></iframe>
              </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/foru1.mp4"></iframe>
              </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <iframe height="530" width="300" autoplay=0 class="" src="../../../assets/Videos/ulife.mp4"></iframe>
              </div>
        </div>
    </div>

    
</div>