<div class="main-container">
  <div>
    @if (!isLogin) {
      <div class="pt-4">
        @for (card of cardData; track card) {
          <div class="cards my-2" style="width: 22rem;">
            <img class="card-img-top" [src]="card.imgUrl" alt="Card image cap">
            <a (click)="showBottom()">
              <div class="card-body">
                <p class="card-title pt-3">{{card?.title}}</p>
                <p class="card-text pt-2">{{card?.descriptioon}}</p>
              </div>
            </a>
          </div>
        }
        @if (isButton) {
          <div>
            <div class="cards mt-4" style="width: 22rem;">
              <div class="card-body">
               <label>Login</label><br/><br/>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLog()">
                  @if (errorMessage) {
                    <label class="error-message">Username and passcode is wrong !</label>
                  }
                  <div class="mb-3">
                    <input type="text" (ngModelChange)="getErrorMessage()"  formControlName="username" maxlength="6" class="form-control form-control-sm" placeholder="Username">
                  </div>
                  <div class="mb-3">
                    <input type="password" (ngModelChange)="getErrorMessage()"  formControlName="passcode" maxlength="4" class="form-control form-control-sm" placeholder="Passcode">
                  </div>
                  <button type="submit" class="new-btn w-100">Submit</button>
                </form>
              </div>
            </div>
          </div>
        }
      </div>
    }
    @if (isLogin) {
      <div>
        <div class="cards chat-body" style="width: 22rem;">
          <div>
            <!-- chat header -->
            <div class="header">
              <span>
                <div>Online</div>
              </span>
              <span class="user-log" (click)="logOut()">
                <p>{{userShortName | uppercase}}</p>
              </span>
            </div>
            <!-- chat message  -->
            <app-text [messages]="messages"></app-text>
            <!-- chat footer -->
            <div class="footer p-2">
              <form [formGroup]="formData" (ngSubmit)="onSubmit()" >
                <div class="input-group input-group-sm">
                  <span class="input-group-text" (click)="getMessage()"><i class="bi bi-activity"></i></span>
                  <input id="myText" placeholder="Type message" type="text" formControlName="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  <button class="btn btn-success" [disabled]="!formData.valid"  type="submit"><span><i class="bi bi-send"></i></span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

</div>

<!-- <app-login *ngIf="!isLogin" (newEvent)="updateData($event)"></app-login>
<app-text *ngIf="isLogin"></app-text> -->
