<div class="main-container">
    <div>
        <div class="card my-2" style="width: 18rem;" *ngFor="let card of cardData">
            <img class="card-img-top" [src]="card.imgUrl" alt="Card image cap">
            <div class="card-body">
                <p class="card-title">{{card?.title}}</p>
                <p class="card-text">{{card?.descriptioon}}</p>
            </div>
        </div>   
    </div>
</div>

<!-- <app-login *ngIf="!isLogin" (newEvent)="updateData($event)"></app-login>
<app-text *ngIf="isLogin"></app-text> -->
    