.card-title{
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .chat-body{
    height: 88vh;
  }

  .error-message{
    color: #EE4266;
    font-size: 12px;
    padding-bottom: 4px;
  }


  // Header Css

  .header{
    background-color: #6457f5;
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;
      padding: 16px 10px 16px;
      color: #fff;
      border-radius: 5px 5px 0px 0px;
  }
  .user-log{
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #2A1E5C;
    border: 1px solid #fff;
    margin-right: 6px;
    border-radius: 50px;
    cursor: pointer;
    p{
      font-size: 18px;
      padding-top: 15px;
      color: #fff;
    }


  }

  .footer{
    z-index: -1;
    margin-top: 30px;
  }

