.header{
    background-color: #EE4266;
    // border-radius: 0px 0px 20px 20px ;
    // height: 70px;
    p{
      padding: 8px;
      color: #fff;
      text-align: center;
      font-size: 14px;
    }
  }
  .main{
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .nav-bar{
    position:fixed;
    bottom: 10px;
    z-index:1000;
    text-align: center;
    background-color: #dce6fa;
    width: 22rem;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .nav-bar li {
    list-style: none;
  }

  .nav-bar li ul {
    display: inline;
    padding: 0px;
    margin: 10px 12px 10px;
  }

  .nav-bar li ul a {
    text-decoration: none;
    padding: 13px 14px 8px 9px;

  }

  .blink-soft {
    animation: blinker 2.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .fa .bi{
    // color: #6457f5;
    color: #EE4266;
  }

  .nav-bar-list {
    margin-top: 0px;
    .fa{
      color: #6457f5;
      width: 20px;
      font-size: 26px;
    }
  }

  .active{
    width: 20px;
    box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
    backdrop-filter: blur( 2.5px );
    border-radius: 6px 6px 3px;
     border-bottom: 3px solid #6457f5;
    border-right: 4px solid #6457f5;
    transition: fill 0.3s ease;
  }

  span{
    display: block;
    padding-top: 4px;
  }

  @media screen and (max-width: 480px) {
    span{
        display: none;
      }
  }



