/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/indigo-pink.css"
// @import "ng-zorro-antd/ng-zorro-antd.min.css";
@import "bootstrap/dist/css/bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


body{
  background-color: #f2f5fb;
}
.main-container{
    display: flex;
    justify-content: center;
    // margin-top: -30px;
    padding-bottom: 60px;
}

.cards {
  flex: 1;
  min-width: 0;
  box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

// common card blinking
.card{

  // Animation Css
    // border-bottom: 4px solid #6457f5;
    // animation-name: blinking;
    // animation-duration: 2.5s;
    // animation-iteration-count: 10000;
    border: none;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);

  }


    @keyframes blinking {
      50% {
          border-color: #ee3110;
      }
    }

    .card-title{
      font-size: 16px !important;
      font-weight: 600 !important;
    }

    // shadow UI code
.new-card{
    // padding: 20px;
    margin-top: 20px;
    background-color: #F5F5F5;
    margin-bottom: 20px;

}

.log-card{
    padding: 20px;
    box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
    border-radius: 20px;
    width:22rem;
}

.new-btn{
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    color: rgba(7,30,84,.3);
    font-size: 13px;
    box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
    width: 90px;
    color: #B2B9C9;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.new-btn:hover{
    color: #000;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 9px #fff;
}
label{
    font-size: 16px;
    color: #B2B9C9;
    font-weight: 600;
}
input{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    color: rgba(7,30,84,.3);
    font-size: 13px;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 9px #fff;
    transition: width 1s linear 1s;

}


.form-control:focus {
    border: 1px solid #6457f5; /* The blue color */
    outline: 0;                /* Removes the default browser outline */
    box-shadow: none;          /* Removes the Bootstrap "glow" */
     box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 9px #fff;
}

// when hover input then expand the width of input
// input:hover {
//     width: 200px;
// }



