<div class="main-container">
<div>
   
    <div class="py-2"></div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/foru/birth1.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Happy Birth Day Jaan</h5>
            <p class="card-text">{{dateBirth}}</p>
            <a > <i (click)="love()" class="fa fa-heart-o" aria-hidden="true"></i> I love You Babu | {{loveCount}}</a>
        </div>
    </div>       
</div>
</div>
    